<template>
  <div>
    <v-card :color="color">
      <v-card-title>
        {{ value.name }}
        <v-spacer />
        <v-btn icon @click="deleteItem">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'FoodItem',
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  computed: {
    color () {
      return this.value.selected ? 'blue' : 'dark'
    }
  },
  methods: {
    deleteItem () {
      this.$emit('delete')
    }
  }
}
</script>
