<template>
  <v-dialog max-width="500" :value="true" @click:outside="close">
    <v-card>
      <v-card-title>Add Food Item</v-card-title>
      <v-card-text>
        <v-text-field v-model="name" label="Name" required />
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn color="blue darken-1" @click="close"> Cancel </v-btn>
        <v-btn color="blue darken-1" @click="addFoodItem"> Add </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'FoodItemAdd',
  data () {
    return {
      name: null
    }
  },
  methods: {
    close () {
      this.$emit('close')
    },
    addFoodItem () {
      this.$emit('add', this.name)
      this.close()
    }
  }
}
</script>
