<template>
  <v-layout align-center justify-center column>
    <!-- Button to select random item -->
    <v-btn color="blue darken-1" @click="selectRandomItem">
      Make a choice
    </v-btn>

    <!-- Food items -->
    <FoodItem
      v-for="foodItem in foodItems"
      :key="foodItem.id"
      class="food-choice__food-item"
      :value="foodItem"
      @delete="deleteItem(foodItem.id)"
    />

    <!-- Add food item -->
    <v-btn fab icon color="green" @click="showFoodItemAdd = true">
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <LazyFoodItemAdd
      v-if="showFoodItemAdd"
      @close="showFoodItemAdd = false"
      @add="addFoodItem"
    />

    <Notification :snackbar-text="notificationMessage" />
  </v-layout>
</template>

<script>
import Notification from '~/components/shared/Notification'

export default {
  name: 'FoodChoicePage',
  components: { Notification },
  data () {
    return {
      foodItems: [],
      showFoodItemAdd: false,
      websocket: null,
      notificationMessage: ''
    }
  },
  mounted () {
    this.fetchFoodItems()
    this.websocket = new WebSocket(`ws://${window.location.host}/api/ws/items/`)
    this.websocket.onmessage = (event) => {
      const data = JSON.parse(event.data)
      this.notificationMessage = data.message
    }
  },
  methods: {
    fetchFoodItems () {
      this.$axios.get('/api/items/')
        .then((response) => {
          this.foodItems = response.data
        })
    },
    addFoodItem (name) {
      const item = {
        name,
        selected: false
      }

      this.foodItems.push(item)

      this.$axios.post('/api/items/', item)
        .then(() => {
          this.fetchFoodItems()
        })
    },
    setSelected (index, selected) {
      this.foodItems[index].selected = selected

      const item = this.foodItems[index]
      this.$axios.put(`/api/items/${item.id}/`, item)
    },
    selectRandomItem () {
      const randomIndex = Math.floor(Math.random() * this.foodItems.length)

      if (this.foodItems.length > 0) {
        this.foodItems.forEach((foodItem, i) => {
          this.setSelected(i, i === randomIndex)
        })
      }
    },
    deleteItem (id) {
      this.$axios.delete(`/api/items/${id}/`)
        .then(() => {
          this.fetchFoodItems()
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.food-choice {
  &__food-item {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
</style>
