<template>
  <div class="notification">
    <v-snackbar
      v-model="snackbar"
      :timeout="snackbarTimeout"
      :color="snackbarColor"
      :top="snackbarTop"
      :transition="snackbarTransition"
    >
      <span v-if="snackbarText">{{ snackbarText }}</span>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'Notification',
  props: {
    snackbarText: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      snackbar: false,
      snackbarTimeout: 3000,
      snackbarColor: 'blue',
      snackbarTop: false,
      snackbarTransition: 'scale-transition'
    }
  },
  watch: {
    snackbarText: {
      handler (val) {
        if (val) {
          this.snackbar = true
        }
      }
    }
  }
}
</script>
